[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/brockelmore/forge-std
[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/dynamic-contracts"]
	path = lib/dynamic-contracts
	url = https://github.com/thirdweb-dev/dynamic-contracts
